body {
    font-family: "Poppins", sans-serif;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #eee;
}

.container {
    display: flex;
    gap: 030px;
    align-items: center;
    border-radius: 10px;
    justify-content: center;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    height: 65px;
    width: 200px;
    min-width: 200px;
}

span {
    font-size: 2rem;
    color: #888;
    font-weight: 500;
}

.desc {
    width: 400px;
}

p {
    border: 2px solid #999;
    text-align: center;
    min-height: 90px;
    min-width: 130px;
    line-height: 4;
    background-color: #fff;
    font-size: 2rem;
    font-weight: 500;
    color: #888;
    padding: 0 20px;
}
